* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.profile-image {
    width: 200px;
    height: auto;
    border-radius: 50%;
    margin: 1em auto;
    display: block;
}

ol, ul {
    padding-left: 1.5em;
    list-style-type: disc;
}

li a {
    background-color: beige;
    color: #222;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

li a:hover {
    background-color: #0056b3;
    color: #fff;
    transform: scale(1.05);
}

.hidden {
    display: none !important;
}

.social {
    text-decoration: none;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Placement */

body {
    background-color: beige;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 1.6;
    color: #444;
}

.main {
    flex: 1 0 auto;
    padding: 1em;
    max-width: 800px;
    border-radius: 10px;
    margin: 2em auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: beige;
}

.header, .footer {
    flex: 0 0 auto;
    padding: 1em;
    background-color: #222;
    color: #fff;
}

/* Header */

.header, .site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #333;
}

.title, .logo {
    padding: 2em 3em 2em 0;
}

.logo {
    width: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
}


@media (max-width: 767px) {
    .title, .logo {
        padding: 1em 0;
    }
    .title {
        min-width: 50%;
    }
    .logo {
        max-width: 30%;
    }
}

.title * {
    color: #fff;
}

.title p {
    font-style: italic;
    color: #ccc;
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #555;
}

.footer a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s;
}

.footer a:hover {
    color: #fff;
}

.footer .social {
    font-size: 1.8rem;
}

/* Typografi */

p, td, th, li, dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.6em;
    font-weight: bold;
    color: #222;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Kod */

code {
    margin: 0 0.1em;
    padding: 0.1em 0.2em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    background: #f5f5f5;
    font-family: monospace;
    font-size: 0.85rem;
    line-height: 1.8;
}

pre {
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    background: #f5f5f5;
    overflow-x: auto;
}

pre code {
    display: block;
    padding: 0;
    background: transparent;
}

/* Citat */

blockquote {
    font-style: italic;
    margin-left: 1em;
    padding-left: 1em;
    border-left: 4px solid #ddd;
    color: #666;
}
