.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 auto;
}

.footer p {
  color: $font-color;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid $font-color;
}

.footer a {
  text-decoration: none;
  transition: color 0.3s;
  color: $font-color;

  &:hover {
    color: $link-hover-color;
  }
}

.footer .social {
  font-size: 1.8rem;
}
