* {
  box-sizing: border-box;
}

.header,
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: $secondary-color;
  flex: 0 0 auto;
}


.logo {
  width: 250px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.title {
  padding: 2em 3em 2em 0;
}

.title a {
  text-decoration: none;
  border-bottom: 2px solid $font-color;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title p {
  font-style: italic;
  color: $font-color;
  border-bottom: 2px solid $font-color;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
