img {
  max-width: 100%;
  height: auto;
  display: block;
}
  
.logo {
  width: 150px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.screenshot-image {
  max-width: 50%;
  height: auto;
  border-radius: 8px;
}

.profile-image {
  width: 200px;
  height: auto;
  border-radius: 50%;
  margin: 1em auto;
  display: block;
}
