body {
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.6;
  color: $font-color;
}

.main {
  flex: 1 0 auto;
  padding: 1em;
  max-width: 1200px;
  border-radius: $border-radius;
  margin: 2em auto;
  box-shadow: 0 4px 8px $shadow-color;
  background-color: $background-color;
  color: $font-color;
}

.main h1,
.main h2,
.main h3,
.main h4,
.main h5,
.main h6 {
  color: $font-color;
}


.header,
.footer {
  flex: 0 0 auto;
  padding: 1em;
  background-color: $secondary-color;
}

.hidden {
  display: none;
}
