li a {
  background-color: $background-color;
  color: $font-color;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 4px;
  border: 1px $font-color solid;
  transition: background-color 0.3s ease, transform 0.3s ease;
  
  &:hover {
    background-color: $primary-color;
    color: $link-hover-color;
    transform: scale(1.05);
  }
}

.nav a {
  color: $font-color;
}

.social {
  text-decoration: none;
}

.social i {
  color: $font-color;
}
