.technology {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  padding: 10px;
  gap: 20px;
}

.technology .menu {
  width: 20%;
  background-color: $secondary-color;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid;
}

.technology .menu h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: $font-color;
  margin-bottom: 20px;
}

.technology .menu a {
  font-size: 1rem;
  color: $font-color;
  text-decoration: none;
  transition: color 0.3s ease;
}

.technology .menu a:hover {
  color: #0056b3;
}

@media (max-width: 768px) {
  .technology {
    flex-direction: column; 
  }

  .technology .menu {
    display: none;
  }

  .technology .article {
    width: 100%;
  }
}
