body {
  line-height: 1.4;
  font-family: $font-family;
}

p,
td,
th,
li,
dd {
  text-align: justify;
  overflow-wrap: break-word;
  color: $font-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.6em;
  font-weight: bold;
  color: $font-color;
  text-decoration: none;
}

ol,
ul {
  padding-left: 1.5em;
  list-style-type: disc;
}

.profile-image {
  width: 200px;
  height: auto;
  border-radius: 50%;
  margin: 1em auto;
  display: block;
}
