$font-color: #444;
$background-color: #f5f5dc;
$primary-color: #0056b3;
$secondary-color: #222;
$link-hover-color: #fff;
$shadow-color: rgba(0, 0, 0, 0.2);
$border-radius: 10px;
$font-family: Arial, sans-serif;
