$font-color: #7fff00;
$background-color: #222;
$primary-color: #404040;
$secondary-color: #333;
$main-color: #222;
$link-hover-color: #7fff00;
$shadow-color: rgba(0, 0, 0, 0.2);
$border-radius: 10px;
$font-family: 'Sour Gummy', sans-serif;
