$font-color: #000;
$background-color: #81d4fa;
$primary-color: #0288d1;
$secondary-color: #72b8e1;
$main-color: #b3e5fc;
$link-hover-color: #01579b;
$shadow-color: rgba(0, 0, 0, 0.2);
$border-radius: 10px;
$font-family: 'Sour Gummy', sans-serif;
